.form-container{
    background-color: rgba(214, 214, 214, 0.2);
    margin-top: -30px;
    padding: 4rem 0;

    
    

}


.form{
    max-width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
 
    margin: 0 auto;
}


.input{
    width: 50%;
    padding: .7rem;
    outline: none;
    border: none;
    margin: 0 1rem;
    line-height: 2.8rem;
    font-size: 1.6rem;
}

.label{
    font-size: 1.5rem;
    font-weight: bold;
    color:slategray


}

.button{
    outline: none;
    border: none;
    background-color:rgb(4, 131, 88);
    
    color: white;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background 250ms ease-in;
}

.button:hover{
    background-color: #D41B24;
}

/* media queries */
@media screen and (max-width:900px) {
    
.form{
    
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.input{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
}